@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  color: white;
  width: 100%;
  font-size: 1.2rem;
  font-family: "Baloo Bhai 2", cursive;
  /* height: 10000px; */
}

.nav-container {
  position: absolute;
  z-index: 9;
}

.nav-container ul {
  position: fixed;
  background: #2f343d;
  padding: 20px 0 10px 10px;
  border-right: 5px solid #3f83ef;
  width: 120px;
  height: 100%;
  transition: 0.5s;
  overflow: hidden;
}

.nav-container ul li {
  list-style: none;
  padding: 15px;
  padding-right: 0;
  color: white;
  font-size: 15px;
  margin-bottom: 25px;
  cursor: pointer;
  position: relative;
  transition: 0.5s;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.nav-container ul li:hover {
  transition: 0s;
  background: #242932;
}

.nav-container ul li.active:before {
  content: "";
  position: absolute;
  top: -20px;
  right: 0px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 10px 10px 0 #3f83ef;
}

.nav-container ul li.active:after {
  content: "";
  position: absolute;
  bottom: -20px;
  right: 0px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 10px -10px 0 #3f83ef;
}

.nav-container ul li.active {
  background: #3f83ef;
}

.nav-container ul:hover {
  width: 300px;
}

.main-container {
  margin-left: 120px;
  position: relative;
  left: 0;
  right: 0;
  height: 100vh;
  background-attachment: fixed;
  background-image: url("bg1.jpg");
  background-position: center;
  background-size: cover;
  text-align: right;
  overflow: hidden;
}

.main-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: inset 100px 80px 200px #0000009c;
  overflow: hidden;
}

.main-container .top-box {
  cursor: pointer;
  position: relative;
  font-size: 2.7rem;
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 3px;
  height: 11.5vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 3;
  opacity: 0;
  animation: opace 2s ease 0.7s forwards;
}

@keyframes opace {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.main-container .top-box h3 {
  margin-right: 20px;
}

.main-container .main-box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 20px;
  z-index: 2;
}

.main-container .main-box h1 {
  font-size: 4.2rem;
  font-weight: 500;
}

.main-container .main-box p {
  font-size: larger;
  color: #f8a84d9c;
  margin-top: 25px 0;
  animation: updown 2s ease forwards;
}

@keyframes updown {
  from {
    margin: 500px;
  }
  to {
    margin: 20px 0;
  }
}

.main-container .main-box button {
  cursor: pointer;
  font-family: inherit;
  font-weight: 400;
  font-size: 1.3rem;
  background-color: transparent;
  color: white;
  outline: none;
  border: 2px solid white;
  border-radius: 25px;
  padding: 8px 40px;
  margin: 25px 0;
  transition: 0.5s;
}

.main-container .main-box button:hover {
  background-color: white;
  color: black;
  padding: 8px 70px;
  letter-spacing: 2.5px;
}

.container-2 {
  margin-left: 120px;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: fit-content;
  padding: 50px 80px;
}

.container-2 h2 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #173b6c;
}

.container-2 h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #149ddd;
  bottom: 0;
  left: 0;
}

.container-2 .art-box {
  position: relative;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.container-2 .art-box div {
  position: relative;
}

.container-2 .card {
  margin: 35px 30px;
  max-width: 20px;
  min-width: 420px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.5);
}
.container-2 .card .headline {
  font-size: 3rem;
  font-weight: bold;
  color: #08b9b9;
  position: absolute;
  bottom: 100%;
  padding: 0 2rem;
}
.container-2 .card .text-container {
  background-color: #ffffff;
  position: absolute;
  top: 100%;
  transition: transform 0.5s cubic-bezier(0.22, 1, 0.36, 1);
  padding-bottom: 1rem;
  z-index: 2;
  color: black;
}
.container-2 .card .text {
  padding: 2rem;
}
.container-2 .card img {
  height: 100%;
  width: 100%;
  display: block;
  z-index: 1;
  transition: filter 0.5s cubic-bezier(0.22, 1, 0.36, 1);
}
.container-2 .card .center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-2 .card:hover > .text-container {
  transform: translateY(-100%);
}
.container-2 .card:hover > img {
  filter: blur(4px);
}
